{% extends "base.html" %}

{% block content %}
<h2>Discussões em Aberto</h2>
<a href="/new" class="btn btn-primary my-3">Nova Discussão</a>

{% for problem in problems %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ problem.title }}</h5>
            <p class="card-text">{{ problem.description }}</p>
            <a href="/problem/{{ loop.index0 }}" class="btn btn-sm btn-outline-primary">Ver Discussão</a>
        </div>
    </div>
{% else %}
    <p>Nenhuma discussão foi iniciada ainda.</p>
{% endfor %}
{% endblock %}
